@import 'styles/shared';

body {
  background-image: url(../images/Main_Image_Phone_qnoyq0.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Courier New', Courier, monospace;
}
